<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <hr>
    <small>Hello</small>
    <small>Thank you for your response, Please Use the following OTP for verifying and changing your password</small>

    <p>Your Otp is <span style="font-weight: bolder; font-size: larger; background-color: rgb(230, 233, 236); padding: 4px;">{{otp}}</span></p>

    <p>This otp is valid for 5 minutes only..</p>
    <em>Thank you</em><br/>
    <em>Team <b>Sinarja Marketing</b></em>

</body>
</html>